/* RESET */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
}

/* SCSS DEFAULT */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

button {
  cursor: pointer;
}

/* COLORS */
:root {
  /* Primary */
  --Scissors-Gradient: linear-gradient(#ec9e0e, #eca922);
  --Rock-Gradient: linear-gradient(#dc2e4e, #dd405d);
  --Lizard-Gradient: linear-gradient(#834fe3, #8c5de5);
  --Cyan: linear-gradient(#40b9ce, #52bed1);

  /* Neutral */
  --Dark-Text: #3b4363;
  --Score-Text: #2a46c0;
  --Header-Outline: #606e85;

  /* Background */
  --Radial-Gradient: linear-gradient(#1f3756, #141539);
}

/* STYLES */
.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: var(--Radial-Gradient);
}

.menu-options {
  width: 100%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-options h1 {
  color: #fff;
  font-size: 2.2em;
  margin-bottom: 40px;
  text-align: center;
}

.menu-options p {
  color: #fff;
  font-size: 1.8em;
  text-align: center;
  max-width: 90%;
  margin: 5px 0;
}

.box-buttons {
  width: 90%;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.btn-choice {
  flex: 1;
  padding: 10px 20px;
  background: var(--Rock-Gradient);
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  box-shadow: 5px 5px 4px 2px #141539;
  margin: 0 5px;
}

.btn-choice:hover {
  background: #910b23;
}

.header {
  width: 90%;
  max-width: 600px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid var(--Header-Outline);
  border-radius: 8px;
  display: none;
}

.logo img {
  height: 85px;
}

.score {
  width: 120px;
  height: 100px;
  padding: 5px 0;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score h3 {
  color: var(--Score-Text);
  text-transform: uppercase;
}

.score p {
  color: var(--Dark-Text);
  font-size: 3em;
  font-weight: bold;
  letter-spacing: -3px;
}

.qtd-moves {
  margin-top: 5px;
  font-weight: bold;
  font-size: 1.2em;
  color: #fff;
}

.choice-options {
  margin-top: 7em;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  display: none;
}

.content-options {
  width: 250px;
  height: 220px;
  background-image: url("../images/bg-triangle.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.content-options button:nth-child(1) {
  position: absolute;
  top: -25%;
  left: -25%;
}

.content-options button:nth-child(2) {
  position: absolute;
  top: -25%;
  right: -25%;
}

.content-options button:nth-child(3) {
  position: absolute;
  bottom: -15%;
  left: calc(50% - 4.5em);
}

.paper-border {
  border: 0.9em solid #2a46c0;
  box-shadow: -2px 11px 0px -2px #182c88;
}

.scissors-border {
  border: 0.9em solid #eca922;
  box-shadow: -2px 11px 0px -2px #c98609;
}

.rock-border {
  border: 0.9em solid #dd405d;
  box-shadow: -2px 11px 0px -2px #b11e39;
}

.btn-options {
  background-color: #fff;
  border-radius: 50%;
  height: 9em;
  width: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.match-result {
  width: 100%;
  margin-top: 5em;
  gap: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.item-macth-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-macth-result button {
  height: 13em;
  width: 13em;
  border-width: 1.4em;
}

.item-macth-result button img {
  width: 4em;
}

.item-macth-result p {
  margin-bottom: 50px;
  color: #fff;
  font-weight: bold;
}

.box-play-again h2 {
  color: #fff;
  font-size: 2.5em;
  margin-bottom: 15px;
}

.btn-play-again {
  width: 100%;
  padding: 10px;
  color: var(--Dark-Text);
  font-weight: bold;
  background-color: #fff;
  border-radius: 10px;
}

.btn-play-again:hover {
  color: #dc2e4e;
}

.modal-rules {
  position: absolute;
  top: calc(50% - 11em);
  left: calc(50% - 11em);
  background-color: #fff;
  color: var(--Dark-Text);
  border-radius: 5px;
  width: 22em;
  height: 22em;
  padding: 25px 30px;
  display: none;
}

.modal-rules h2 {
  font-size: 1.4em;
}

.modal-rules div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-rules div > img {
  height: 1.5em;
  cursor: pointer;
}

.modal-rules > img {
  width: 17em;
  margin: 12% 5% 0;
}

.rules {
  position: absolute;
  bottom: 25px;
  right: 30px;
  padding: 8px 25px;
  font-size: 0.75em;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  letter-spacing: 2px;
}

.hiddenContent {
  animation: hiddenContent 1.5s linear;
}

@keyframes hiddenContent {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 767px) {
  .modal-rules {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .modal-rules > img {
    margin-top: 50%;
  }

  .box-play-again {
    position: absolute;
    bottom: 15%;
  }

  .item-macth-result {
    flex-direction: column-reverse;
  }

  .match-result {
    margin-top: 10%;
  }

  .item-macth-result button {
    height: 9em;
    width: 9em;
    border-width: 1em;
    margin-bottom: 20%;
  }
}
