/* RESET */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
}

/* SCSS DEFAULT */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

/* COLORS */
:root {
  /* Primary */
  --Scissors-Gradient: linear-gradient(#ec9e0e, #eca922);
  --Rock-Gradient: linear-gradient(#dc2e4e, #dd405d);
  --Lizard-Gradient: linear-gradient(#834fe3, #8c5de5);
  --Cyan: linear-gradient(#40b9ce, #52bed1);

  /* Neutral */
  --Dark-Text: #3b4363;
  --Score-Text: #2a46c0;
  --Header-Outline: #606e85;

  /* Background */
  --Radial-Gradient: linear-gradient(#1f3756, #141539);
}

/* STYLES */
.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 2% 0;
  background: var(--Radial-Gradient);
  display: flex;
  flex-direction: column;
}

.languages {
  display: flex;
  position: absolute;
  top: 5px;
  right: 5px;
}

.languages a {
  margin-right: 10px;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  max-width: 1024px;
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  border: 3px solid var(--Header-Outline);
}

.header .logo img {
  height: auto;
  max-height: 70px;
}

.header .score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 140px;
  background-color: #fff;
  border-radius: 10px;
  font-weight: 700;
}

.header .score p:first-child {
  color: var(--Dark-Text);
  margin-top: 10px;
}

.header .score p:last-child {
  font-size: 3.3em;
  color: var(--Dark-Text);
}

.remaining-moves p {
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  margin-top: 2%;
}

.play-menu {
  width: 100%;
}

.play-menu div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0% 10%;
  margin-top: 5%;
}

.play-menu div h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.play-menu div h3 {
  font-size: 1.3em;
  color: #fff;
  text-align: center;
  margin: 5% 0 2% 0;
}

.play-menu div input {
  padding: 10px 40px;
  border-radius: 10px;
  width: 30%;
  margin-bottom: 3%;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.play-menu div button {
  margin-top: 2%;
  padding: 10px 20px;
  border-radius: 10px;
  width: 30%;
  color: #fff;
  font-weight: 700;
  background-color: #dc2e4e;
  box-shadow: 4px 4px 4px 0px #bd1131;
}

.play-menu div button:hover {
  background-color: #af102d;
  cursor: pointer;
  zoom: 1.1;
}

.msg-error h3 {
  display: block;
  text-align: center;
  font-size: 1.3em;
  color: #ca0000;
  margin-top: 2%;
}

.content-primary {
  margin-top: 85px;
  width: 100%;
  position: relative;
}

.content-primary div {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.content-primary > img {
  height: 100%;
}

.btn-paper {
  position: absolute;
  top: -20%;
  left: -15%;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 12px solid #2a46c0;
  cursor: pointer;
}

.btn-paper img {
  width: 38px;
}

.btn-paper:hover {
  background-color: #7b96cf;
}

.btn-scissors {
  position: absolute;
  top: -20%;
  right: -15%;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 12px solid #ec9e0e;
  cursor: pointer;
}

.btn-scissors img {
  width: 38px;
}

.btn-scissors:hover {
  background-color: #dbc49a;
}

.btn-rock {
  position: absolute;
  bottom: -10%;
  left: 27%;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 12px solid #dc2e4e;
  cursor: pointer;
}

.btn-rock img {
  width: 38px;
}

.btn-rock:hover {
  background-color: #e095a3;
}

.content-secondary {
  margin-top: 10%;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  padding: 0px 11%;
}

.content-secondary div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  gap: 30px 0;
  flex: 1;
}

.play-again h2 {
  font-size: 2.3em;
  margin-bottom: -20px;
  text-align: center;
}

.play-again button {
  padding: 13px 20px;
  width: 100%;
  border-radius: 5px;
  color: #606e85;
  font-weight: 700;
  cursor: pointer;
  font-size: 1.2em;
}

.play-again button:hover {
  color: #dc2e4e;
}

.btn-content-secondary {
  background-color: #fff;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-content-secondary img {
  width: 60px;
}

.border-btn-papper {
  border: 15px solid #2a46c0;
}

.border-btn-scissors {
  border: 15px solid #ec9e0e;
}

.border-btn-rock {
  border: 15px solid #dc2e4e;
}

.footer button {
  position: absolute;
  bottom: 3%;
  right: 2%;
  padding: 5px 20px;
  border-radius: 7px;
  background-color: transparent;
  color: #fff;
  font-weight: 700;
  border: 3px solid var(--Header-Outline);
  cursor: pointer;
}

.footer button:hover {
  background-color: var(--Dark-Text);
  zoom: 1.1;
}

.modal-rules {
  width: 370px;
  height: 370px;
  position: absolute;
  top: calc(50% - 170px);
  left: calc(50% - 170px);
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 0px #cccccc;
  padding: 20px 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-rules div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-rules div h1 {
  color: #3f4461;
}

.modal-rules div img {
  cursor: pointer;
}

.rules {
  margin: 0 auto;
}

@media (max-width: 768px) {
  .play-menu div input {
    width: 40%;
  }

  .play-menu div button {
    width: 40%;
  }

  .content-primary {
    margin-top: 65px;
  }

  .content-primary div {
    display: flex;
    justify-content: center;
  }

  .content-primary div > img {
    height: 230px;
  }

  .btn-paper {
    left: -8%;
  }

  .btn-scissors {
    right: -8%;
  }

  .btn-rock {
    bottom: -10%;
  }
}

@media (max-width: 500px) {
  .header {
    width: 90%;
    margin-top: 35px;
  }

  .play-menu div h2 {
    font-size: 1.5em;
    width: 90%;
  }

  .play-menu div {
    padding: 0;
  }

  .play-menu div h3 {
    font-size: 1.2em;
    margin-top: 50px;
    width: 80%;
    margin-bottom: 5%;
  }

  .play-menu div input {
    width: 80%;
  }

  .play-menu div button {
    margin-top: 20%;
    width: 80%;
  }

  .content-primary div > img {
    height: 250px;
  }

  .content-primary div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-paper {
    left: -5%;
  }

  .btn-scissors {
    right: -5%;
  }

  .btn-rock {
    bottom: -5%;
  }

  .play-again {
    position: absolute;
    bottom: 18%;
    width: 80%;
    margin: 0 10%;
  }

  .btn-content-secondary {
    height: 140px;
    width: 140px;
  }

  .content-secondary {
    padding: 0;
  }

  .modal-rules {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .modal-rules div img {
    height: 30px;
  }

  .modal-rules div h1 {
    font-size: 1.3em;
  }

  .rules {
    margin: 50% auto;
  }
}
