/* RESET */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  border: none;
}

/* SCSS DEFAULT */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

/* COLORS */
:root {
  /* Primary */
  --Scissors-Gradient: linear-gradient(#ec9e0e, #eca922);
  --Rock-Gradient: linear-gradient(#dc2e4e, #dd405d);
  --Lizard-Gradient: linear-gradient(#834fe3, #8c5de5);
  --Cyan: linear-gradient(#40b9ce, #52bed1);

  /* Neutral */
  --Dark-Text: #3b4363;
  --Score-Text: #2a46c0;
  --Header-Outline: #606e85;

  /* Background */
  --Radial-Gradient: linear-gradient(#1f3756, #141539);
}

/* STYLES */
.container {
  width: 100%;
  height: 100%;
  padding: 40px 0 20px 0;
  background: var(--Radial-Gradient);
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 50px auto;
  padding: 15px 20px;
  max-width: 880px;
  width: 80%;
  background-color: transparent;
  border-radius: 10px;
  border: 3px solid var(--Header-Outline);
}

.header .logo img{
  height: auto;
  max-height: 70px;
}

.header .score{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 140px;
  background-color: #fff;
  border-radius: 10px;
  font-weight: 700;
}

.header .score p:first-child{
  color: var(--Score-Text);
}

.header .score p:last-child{
  font-size: 3.3em;
  color: var(--Dark-Text);
}

.footer{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer button{
  margin-right: 30px;
  padding: 5px 20px;
  border-radius: 7px;
  background-color: transparent;
  color: #fff;
  font-weight: 700;
  border: 3px solid var(--Header-Outline);
}